@import url('https://fonts.googleapis.com/css2?family=Anton&family=Asap&family=Black+Han+Sans&family=Faster+One&family=Inter&family=Lexend+Deca:wght@600&family=Manrope&family=Nosifer&family=Orienta&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,900&family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body{
    display: flex;
    justify-content: center;
    background-color: #84729f;
    width: 100%;
}

#genel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.genel{
    background-color: #fff;
    width: 400px;
    height: 200px;
    margin: 20px;
    border-radius: 8px;
    padding: 20px;
}

form{
    text-align: center;
}

form h2{
    margin: 5px 0;
    font-size: 18px;
}

.genel .input{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    font-size: 17px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #978ec9;
}

.btn-input{
    width: 100%;
    height: 40px;
    opacity: 0.7;
    outline: none;
    margin-top: 12px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #22417c;
    cursor: pointer;
}

.genel-div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.div{
    background-color: #fff;
    border-radius: 5px;
    margin: 20px 10px;
    width: 340px;
}

.div img{
    width: 100%;
    padding: 5px;
}

.div .bilgiler{
    margin: 5px;
    text-align: center;
}

.div .bilgiler h2{
    font-size: 20px;
    margin: 5px;
}

.div .bilgiler h4{
    font-size: 20px;
    margin: 5px;
}

@media only screen and (max-width: 900px){
    html,body{
        overflow-x: hidden;
    }
    .genel{
       width: auto;
    }
    .div{
        width: auto;
    }
}